.field {
	display: grid;
	grid-template-columns: repeat(3, 50px);
	grid-template-rows: repeat(3, 50px);
	gap: 5px;
}

.cellButton {
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: #ddd;
	border: 1px solid #999;
	font-size: 24px;
	font-weight: bold;
}

.cellButton:hover {
	background-color: #bbb;
}
